@import './../partials/vars';

header{
  height: 7%;
  display: flex;
  align-items: center;
  background-color: $darker;
  a{
    font-size: 1.8rem;
    padding: $s-pad;
  }
  .btn{
    font-size: 1.6rem;
    padding: $s-pad;
  }
}

.question{
  height: 10%;
  max-height: 10%;
  border-top: $separator;
  border-bottom: $separator;
  padding: $m-pad;
  overflow-y: auto;
}

.editor{
  height: 60%;
  padding: $m-pad;
}

.output-group{
  height: 23%;
  display: flex;
  border-top: $separator;
}

.output-group > *{
  width: 100%;
  &:first-child{
    border-right: $separator;
  }
}

.title{
  background-color: $darker;
  height: $title-h;
  line-height: $title-h;
  padding-left: $m-pad;
  color: $bright;
}

.output{
  max-height: calc(100% - $title-h);
  overflow-y: auto;
}
.output__inner{
  padding: $m-pad;
}

