@import "./../partials/vars";

header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: $darker;
  justify-content: flex-end;
  nav a {
    transition: all 500ms;
    font-size: 1.8rem;
    padding: $s-pad;
    color: #666;
    text-decoration: none;
    &.active {
      color: #fff;
    }
    &:hover {
      color: $bright;
    }
  }
}

main {
  height: 93%;
}

.challenge {
  height: 100%;
}
