@import "./../partials/vars";

.editor-wrap {
  height: 90%;
}

.editor {
  height: 70%;
  padding: $m-pad;
}

.btn-group {
  position: absolute;
  top: 8px;
  .run {
    background-color: $bright;
    color: #000;
    transition: background-color 500ms;
    &:hover {
      background-color: cadetblue;
    }
  }
}

.output-group {
  height: 30%;
  display: flex;
  border-top: $separator;
}

.output-group > * {
  width: 100%;
  &:first-child {
    border-right: $separator;
  }
}

.mirror {
  height: 100%;
}

.CodeMirror {
  height: 100%;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
