 // colors
 $light : #333545;
 $dark: #282a36;
 $darker: #21232d;
 $bright: #7fff00;

 // border
 $separator : 3px solid $light;

 // spacing
 $m-pad : 10px;
 $s-pad : 7px;

 // calc height (effect other elements)
 $title-h : 40px;